@model AccountListViewModel
@{
    Layout = "_LayoutAdmin";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Użytkownik</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.UserList) //Kosmetycznie trzeba poprawić
        {
            @string.Concat(v.Id + v.UserName)
        }
        <tr>
            <td>Marek</td>
            <td>
                <form asp-controller="Admin" asp-action="DeleteUser" method="post">
                    <div class="row">
                        <button class="btn btn-danger btn-xs" type="submit" data-toggle="tooltip" data-placement="top" title="Usuń">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<div class="row align-content-center justify-content-center" style="border-top: solid 2px grey;">
    <div class="col-12">
        <label style="        
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom: solid 2px grey;
        border-left: solid 2px grey;
        border-right: solid 2px grey;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3px;
        ">
            <strong>Dodawanie nowego użytkownika</strong>
        </label>
    </div>
    <div class="col-10">
        <form asp-controller="Admin" asp-action="CreateUser" method="post">
            <div class="form-group">
                <label asp-for="User.Name">Login</label>
                <div class="form-row col-12">
                    <input asp-for="User.Name" type="text" class="form-control col-11" placeholder="Podaj login" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="User.Password">Hasło</label>
                <div class="form-row col-12">
                    <input asp-for="User.Password" id="new" type="password" class="form-control col-11" placeholder="Podaj hasło" aria-describedby="passwordTip" autocomplete="off">
                    <div class="col-1 justify-content-start align-content-center text-left">
                        <a class="btn btn-xs col-12 text-left justify-content-start" id="show1" data-toggle="tooltip" data-placement="top" title="Pokaż hasło" style="background-color: Transparent; background-repeat: no-repeat; border: none; cursor: pointer; overflow: hidden; outline: none; max-width: 40px; min-width: 40px; padding-left: 5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-eye" viewBox="0 0 30 30">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <small id="passwordTip" class="form-text text-muted">
                    Hasło powinno mieć co najmniej 8 znaków, zawierać jedną dużą literę i jeden znak specjalny.
                </small>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Powtórz hasło</label>
                <div class="form-row col-12">
                    <input asp-for="ConfirmPassword" id="new2" type="password" class="form-control col-11" placeholder="Powtórz hasło" aria-describedby="passwordTip2" autocomplete="off">
                    <div class="col-1 justify-content-start align-content-center text-left">
                        <a class="btn btn-xs col-12 text-left justify-content-start" id="show2" data-toggle="tooltip" data-placement="top" title="Pokaż hasło" style="background-color: Transparent; background-repeat: no-repeat; border: none; cursor: pointer; overflow: hidden; outline: none; max-width: 40px; min-width: 40px; padding-left: 5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-eye" viewBox="0 0 30 30">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <small id="passwordTip2" class="form-text text-muted">
                    Hasła muszą być takie same.
                </small>
            </div>
                <div class="form-group text-center">
                    <button class="btn btn-success" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                        </svg>
                        <span>Dodaj użytkownika</span>
                    </button>
                </div>
</form>
    </div>
</div>


<script src="~/js/showPassUserAdd.js"></script>