@model AccountListViewModel
@{
    Layout = "_LayoutAdmin";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Użytkownik</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var v in Model.UserList)
        {
            @string.Concat(v.Id + v.UserName)
        }*@
        <tr>
            <td>Marek</td>
            <td>
                <form asp-controller="Admin" asp-action="DeleteUser" method="post">
                    <div class="row">
                        <button class="btn btn-danger btn-xs" type="submit" data-toggle="tooltip" data-placement="top" title="Usuń">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<div class="row align-content-center justify-content-center" style="border-top: solid 2px grey;">
    <div class="col-12">
        <label style="        
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom: solid 2px grey;
        border-left: solid 2px grey;
        border-right: solid 2px grey;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3px;
        ">
            <strong>Dodawanie nowego użytkownika</strong>
        </label>
    </div>
    <div class="col-6">
        <form asp-controller="Admin" asp-action="CreateUser" method="post">
            <div class="form-group">
                <label asp-for="User.Name">Login</label>
                <input asp-for="User.Name" type="text" class="form-control" placeholder="Podaj login" autocomplete="off">
            </div>
            <div class="form-group">
                <label asp-for="User.Password">Hasło</label>
                <input asp-for="User.Password" type="password" class="form-control" placeholder="Podaj hasło" aria-describedby="passwordTip" autocomplete="off">
                <small id="passwordTip" class="form-text text-muted">
                    Hasło powinno mieć co najmniej 8 znaków, zawierać jedną dużą literę i jeden znak specjalny.
                </small>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Powtórz hasło</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Powtórz hasło" aria-describedby="passwordTip2" autocomplete="off">
                <small id="passwordTip2" class="form-text text-muted">
                    Hasła muszą być takie same.
                </small>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                    <span>Dodaj użytkownika</span>
                </button>
            </div>
        </form>
    </div>
</div>