@model MainViewModel
@{
    Layout = "_LayoutAdmin";
}




<form>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Nazwa kierunku</label>
            <input type="text" class="form-control" placeholder="Podaj nazwę kierunku" required>
        </div>
    </div>


    <div class="form-row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Lista Specjalizacji</th>
                    <th scope="col" class="align-content-center justify-content-center text-center">Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.Faculty.Courses)
                {
                    <tr>
                        <td>@v.Name</td>
                        <td class="align-content-center justify-content-center text-center">
                            <a class="btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Usuń" asp-controller="Admin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="form-row ">
        <div class="form-group col-md-9">
            <input type="text" name="newSpecName" placeholder="Podaj nazwę specjalizacji" style="width: 100%;" />
        </div>
        <div class="form-group col-md-3">
            <div class="align-content-center justify-content-center text-center" style="width: 100%;">
                <button class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                    <span>Dodaj specjalizacje</span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Lista Planów Zajęć</th>
                    <th scope="col" class="align-content-center justify-content-center text-center">Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.Faculty.Courses)
                {
                    <tr>
                        <td>@v.Name</td>
                        <td class="align-content-center justify-content-center text-center">
                            <a class="btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Usuń" asp-controller="Admin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="form-row ">
        <div class="form-group col-md-9">
            <input type="url" name="newTimetableURL" placeholder="Podaj link do planu zajęć" style="width: 100%;" />
        </div>
        <div class="form-group col-md-3">
            <div class="align-content-center justify-content-center text-center" style="width: 100%;">
                <button class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                    <span>Dodaj plan</span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Programy Studiów</th>
                    <th scope="col" class="align-content-center justify-content-center text-center">Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.Faculty.Courses)
                {
                    <tr>
                        <td>@v.Name</td>
                        <td class="align-content-center justify-content-center text-center">
                            <a class="btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Usuń" asp-controller="Admin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="form-row ">
        <div class="form-group col-md-9">
            <input type="url" name="newStudyPlanURL" placeholder="Podaj link do programu studiów" style="width: 100%;" />
        </div>
        <div class="form-group col-md-3">
            <div class="align-content-center justify-content-center text-center" style="width: 100%;">
                <button class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                    <span>Dodaj plan</span>
                </button>
            </div>
        </div>
    </div>



    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>