@model EditCourseViewModel
@{
    Layout = "_LayoutAdmin";
}




<form>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Nazwa kierunku</label>
            <input type="text" class="form-control" placeholder="Podaj nazwę kierunku" required>
        </div>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Zmień</button>
    </div>
</form>
<!--Specjalizacje tabela-->
<table class="table table-striped" style="border-top: 3px solid grey; margin-top:60px;">
    <thead>
        <tr>
            <th scope="col">Lista Specjalizacji Pierwszego Stopnia</th>
            <th scope="col" class="align-content-center justify-content-center text-center">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Faculty.Courses)
        {
            <tr>
                <td>@v.Name</td>
                <td class="align-content-center justify-content-center text-center">
                    <a class="btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Usuń" asp-controller="Admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!--Specjalizacje formularz-->
<form style="margin-bottom:60px;">
    <div class="form-row ">
        <div class="form-group col-md-12">
            <input type="text" placeholder="Podaj nazwę specjalizacji pierwszego stopnia" style="width: 100%;" required/>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="align-content-center justify-content-center text-center" style="width: 100%;">
            <button class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
                <span>Dodaj specjalizacje</span>
            </button>
        </div>
    </div>
</form>


<!--Specjalizacje tabela-->
<table class="table table-striped" style="border-top: 3px solid grey; margin-top:60px;">
    <thead>
        <tr>
            <th scope="col">Lista Specjalizacji Drugiego Stopnia</th>
            <th scope="col" class="align-content-center justify-content-center text-center">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Faculty.Courses)
        {
            <tr>
                <td>@v.Name</td>
                <td class="align-content-center justify-content-center text-center">
                    <a class="btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Usuń" asp-controller="Admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!--Specjalizacje formularz-->
<form style="margin-bottom:60px;">
    <div class="form-row ">
        <div class="form-group col-md-12">
            <input type="text" placeholder="Podaj nazwę specjalizacji drugiego stopnia" style="width: 100%;" required/>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="align-content-center justify-content-center text-center" style="width: 100%;">
            <button class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
                <span>Dodaj specjalizacje</span>
            </button>
        </div>
    </div>
</form>



<!--Plan zajęć tabela-->
<table class="table table-striped" style="border-top: 3px solid grey; margin-top: 15px;">
    <thead>
        <tr>
            <th scope="col">Lista Planów Zajęć</th>
            <th scope="col" class="align-content-center justify-content-center text-center">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Faculty.Courses)
        {
            <tr>
                <td>@v.Name</td>
                <td class="align-content-center justify-content-center text-center">
                    <a class="btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Usuń" asp-controller="Admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!--Plan zajęć formularz-->
<form style="margin-bottom:60px;">
    <input type="hidden" /> <!--Id-->
    <input type="hidden" /> <!--Course-->
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Semestr</label>
            <input type="number" class="form-control" placeholder="Podaj semestr" required />
        </div>
        <div class="form-group col-md-3">
            <label>Stopień</label>
            <input type="number" class="form-control" placeholder="Podaj stopień" required />
        </div>
        <div class="form-group col-md-6">
            <label>Link do planu</label>
            <input type="url" class="form-control" placeholder="Podaj link do planu zajęć" required />
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
            </svg>
            <span>Dodaj plan</span>
        </button>
    </div>
</form>




<!--Programy studiów tabela-->
<table class="table table-striped" style="border-top: 3px solid grey; margin-top: 15px;">
    <thead>
        <tr>
            <th scope="col">Programy Studiów</th>
            <th scope="col" class="align-content-center justify-content-center text-center">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Faculty.Courses)
        {
            <tr>
                <td>@v.Name</td>
                <td class="align-content-center justify-content-center text-center">
                    <a class="btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Usuń" asp-controller="Admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Programy studiów formularz-->
<form>
    <div class="form-row">
        <div class="col-12">
            <div class="form-group">
                <input type="file" class="form-control-file" accept=".pdf" required/>
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="align-content-center justify-content-center text-center" style="width: 100%;">
            <button class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
                <span>Dodaj program</span>
            </button>
        </div>
    </div>
</form>