@model EditSubjectViewModel
@{
    Layout = "_LayoutAdmin";
}

<form asp-controller="Admin" asp-action="EditSubject" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="Subject.Id" />
    <input type="hidden" asp-for="Subject.Course" />
    @{
        if (string.IsNullOrEmpty(Model.Subject.File))
        {
            <input type="hidden" asp-for="Subject.File" value="0" />
        }
        else
        {
            <input type="hidden" asp-for="Subject.File" value="@Model.Subject.File" />
        }
    }
    <div class="align-content-center justify-content-center">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Subject.Name">Nazwa</label>
                <input asp-for="Subject.Name" type="text" maxlength="100" class="form-control" placeholder="Podaj nazwę przedmiotu" required autocomplete="off">
                <small class="form-text text-muted ml-1">
                    Podana nazwa może mieć maksymalnie 100 znaków.
                </small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Subject.Semester">Semestr</label>
                <input asp-for="Subject.Semester" type="number" min="1" max="10" required />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Subject.Degree">Stopień</label>
                <input asp-for="Subject.Degree" type="number" min="1" max="2" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Doc">Karta Przedmiotu</label>
                @{
                    if (string.IsNullOrEmpty(Model.Subject.File))
                    {
                        <input asp-for="Doc" type="file" class="form-control-file" accept=".pdf" required />
                    }
                    else
                    {
                        <input asp-for="Doc" type="file" class="form-control-file" accept=".pdf" />
                    }
                }
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">
                @{
                    if (string.IsNullOrEmpty(Model.Subject.File))
                    {
                        <p>Aktualna Karta Przedmiotu: Brak</p>
                    }
                    else
                    {
                        string docfile = "/files/subjectsDocs/" + Model.Subject.Course + "/" + Model.Subject.Id + "/" + @Model.Subject.File;
                        <p>Aktualna Karta Przedmiotu: </p>
                        <iframe src=@docfile width="100%" height="500">
                        </iframe>
                    }
                }
            </div>
        </div>
    </div>
    <div class="form-group text-center" style="padding-top:15px;">
        <a role="button" class="btn btn-danger" asp-controller="Admin" asp-action="SubjectsList" asp-route-course="@Model.Subject.Course">Anuluj</a>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>