@model IndexViewModel
@{ 
    Layout = "_LayoutAdmin";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
      rel="stylesheet" type='text/css'>

<form asp-controller="Admin" asp-action="EditFacultyInfo" method="post">
    <div class="form-group">
        <label asp-for="Faculty.Name">Nazwa</label>
        <input asp-for="Faculty.Name" type="text" class="form-control" placeholder="Nazwa wydziału">
    </div>
    <div class="form-group">
        <label asp-for="Faculty.Street">Adres</label>
        <input asp-for="Faculty.Street" type="text" class="form-control" placeholder="Podaj ulicę i numer">
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label asp-for="Faculty.City">Miasto</label>
            <input asp-for="Faculty.City" type="text" class="form-control" placeholder="Podaj miasto">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Faculty.State">Województwo</label>
            <select class="form-control" asp-for="Faculty.State">
                <option selected></option>
                <option>Dolnośląskie</option>
                <option>Kujawsko-pomorskie</option>
                <option>Lubelskie</option>
                <option>Lubuskie</option>
                <option>Łódzkie</option>
                <option>Małopolskie</option>
                <option>Mazowieckie</option>
                <option>Opolskie</option>
                <option>Podkarpackie</option>
                <option>Podlaskie</option>
                <option>Pomorskie</option>
                <option>Śląskie</option>
                <option>Świętokrzyskie</option>
                <option>Warmińsko-mazurskie</option>
                <option>Wielkopolskie</option>
                <option>Zachodniopomorskie</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Faculty.Postcode">Kod pocztowy</label>
            <input asp-for="Faculty.Postcode" type="text" class="form-control" value="44-100" placeholder="xx-xxx" pattern="^\d{2}-\d{3}$" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Faculty.Phone">Telefon</label>
            <input asp-for="Faculty.Phone" type="tel" class="form-control" placeholder="Numer telefonu">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Faculty.Email">Email</label>
            <input asp-for="Faculty.Email" type="email" class="form-control" placeholder="Email">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label asp-for="Faculty.MapSource">Mapa</label>
            <input asp-for="Faculty.MapSource" type="url" class="form-control" placeholder="Podaj adres url mapy">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Faculty.Color">Motyw</label>
            <input asp-for="Faculty.Color" type="color" class="form-control">
        </div>
        <div class="form-group col-md-5">
            <label asp-for="Faculty.Logo">Logo</label>
            <input asp-for="Faculty.Logo" type="file" class="form-control-file" accept="image/*" />
        </div>
    </div>
    <div class="form-group">
        <input asp-for="Faculty.Courses" type="hidden"/>
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>



<div class="row align-content-center justify-content-center">
    <div class="col-6">
        <form>
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" placeholder="Login">
            </div>
            <div class="form-group">
                <label>Stare hasło</label>
                <input type="password" class="form-control" placeholder="Stare hasło">
            </div>
            <div class="form-group">
                <label>Nowe hasło</label>
                <input type="password" class="form-control" placeholder="Nowe hasło" aria-describedby="passwordTip">
                <small id="passwordTip" class="form-text text-muted">
                    Hasło powinno mieć co najmniej 8 znaków, zawierać jedną dużą literę i jeden znak specjalny.
                </small>
            </div>
            <div class="form-group">
                <label>Powtórz nowe hasło</label>
                <input type="password" class="form-control" placeholder="Powtórz nowe hasło">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Zmień hasło</button>
            </div>
        </form>
    </div>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nazwa Kierunku</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Informatyka</td>
            <td>
                <button class="btn btn-primary btn-xs" data-toggle="tooltip" title="Tooltip on top">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-primary btn-xs" data-toggle="tooltip" title="Tooltip on top">
                    <i class="fa fa-step-backward"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Matematyka</td>
            <td>
                <button class="btn btn-primary btn-xs" data-toggle="tooltip" title="Tooltip on top">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-primary btn-xs" data-toggle="tooltip" title="Tooltip on top">
                    <i class="fa fa-step-backward"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>



<div class="row align-content-center justify-content-center">
    <a class="btn btn-info" role="button" asp-controller="Admin" asp-action="ArticleList">
        <i class="fa fa-plus"></i>
        <span>Dodaj</span>
    </a>
</div>





