@model IndexViewModel
@{
    Layout = "_LayoutAdmin";
}

<form asp-controller="Admin" asp-action="EditFacultyInfo" method="post">
    <div class="form-group">
        <label asp-for="Faculty.Name">Nazwa</label>
        <input asp-for="Faculty.Name" type="text" class="form-control" placeholder="Nazwa wydziału" required>
    </div>
    <div class="form-group">
        <label asp-for="Faculty.Street">Adres</label>
        <input asp-for="Faculty.Street" type="text" class="form-control" placeholder="Podaj ulicę i numer" required>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label asp-for="Faculty.City">Miasto</label>
            <input asp-for="Faculty.City" type="text" class="form-control" placeholder="Podaj miasto" required>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Faculty.State">Województwo</label>
            <select class="form-control" asp-for="Faculty.State" required>
                <option selected></option>
                <option>Dolnośląskie</option>
                <option>Kujawsko-pomorskie</option>
                <option>Lubelskie</option>
                <option>Lubuskie</option>
                <option>Łódzkie</option>
                <option>Małopolskie</option>
                <option>Mazowieckie</option>
                <option>Opolskie</option>
                <option>Podkarpackie</option>
                <option>Podlaskie</option>
                <option>Pomorskie</option>
                <option>Śląskie</option>
                <option>Świętokrzyskie</option>
                <option>Warmińsko-mazurskie</option>
                <option>Wielkopolskie</option>
                <option>Zachodniopomorskie</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Faculty.Postcode">Kod pocztowy</label>
            <input asp-for="Faculty.Postcode" type="text" class="form-control" placeholder="xx-xxx" pattern="^\d{2}-\d{3}$" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Faculty.Phone">Telefon</label>
            <input asp-for="Faculty.Phone" type="tel" class="form-control" placeholder="Numer telefonu" required>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Faculty.Email">Email</label>
            <input asp-for="Faculty.Email" type="email" class="form-control" placeholder="Email" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label asp-for="Faculty.MapSource">Mapa</label>
            <input asp-for="Faculty.MapSource" type="url" class="form-control" placeholder="Podaj adres url mapy" required>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Faculty.Color">Motyw</label>
            <input asp-for="Faculty.Color" type="color" class="form-control" required>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="Faculty.Logo">Logo</label>
            <input asp-for="Faculty.Logo" type="file" class="form-control-file" accept="image/*"/>
        </div>
    </div>
    <div class="form-group">
        <input asp-for="Faculty.Courses" type="hidden" />
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>



<div class="row align-content-center justify-content-center">
    <div class="col-6">
        <form>
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" placeholder="Login">
            </div>
            <div class="form-group">
                <label>Stare hasło</label>
                <input type="password" class="form-control" placeholder="Stare hasło">
            </div>
            <div class="form-group">
                <label>Nowe hasło</label>
                <input type="password" class="form-control" placeholder="Nowe hasło" aria-describedby="passwordTip">
                <small id="passwordTip" class="form-text text-muted">
                    Hasło powinno mieć co najmniej 8 znaków, zawierać jedną dużą literę i jeden znak specjalny.
                </small>
            </div>
            <div class="form-group">
                <label>Powtórz nowe hasło</label>
                <input type="password" class="form-control" placeholder="Powtórz nowe hasło" aria-describedby="passwordTip2">
                <small id="passwordTip2" class="form-text text-muted">
                    Hasła muszą być takie same.
                </small>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Zmień hasło</button>
            </div>
        </form>
    </div>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nazwa Kierunku</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.FacultyCourses)
            {
            <tr>
            <td>@v.Name</td>
            <td>
                <a class="btn btn-primary btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Lista przedmiotów" asp-controller="Admin">
                    <i class="fa fa-list"></i>
                </a>
                <a class="btn btn-info btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Edytuj" asp-controller="Admin" asp-action="EditCourse">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Usuń" asp-controller="Admin">
                    <i class="fa fa-times"></i>
                </a>
            </td>
            </tr>
            }
    </tbody>
</table>



<div class="row align-content-center justify-content-center">
    <a class="btn btn-success" role="button" asp-controller="Admin" asp-action="ArticleList">
        <i class="fa fa-plus"></i>
        <span>Dodaj</span>
    </a>
</div>





