<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="lib/twitter-bootstrap/css/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>RMS Max!</title>
</head>
<body>
    <header>
        <h1>RMS Max!</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Stopka
    </footer>
</body>
</html>
