@model EmployeeListViewModel

<div>
    @foreach (var v in Model.Employees)
    {
        <p>@(v.Name + " " + v.LastName)</p>
    }

    <div page-model="@Model.PagingInfo" page-action="EmployeeList" page-argument-searching="@Model.CurrentSearching"class="btn-group pull-right m-1"></div>
</div>