@model IEnumerable<Article>

<div id="container">

        <div id="banner">
            <div id="text">
                <h1>Przewijany obrazek</h1>
            </div>
        </div>
   

    @foreach (var v in Model)
    {
        <div class="news">
            <div class="title">@v.Title</div>
            <div class="news-text">
                <p>@v.Content</p>
            </div>
        </div>
    }

</div>