<div id="container">

    <div id="banner"></div>
    <div id="text">
        <h1>Przewijany obrazek</h1>
    </div>

    <div class="news">
        <div class="title"></div>
        <div class="news-text">
            <p>Tekst aktualności 1</p>
        </div>
    </div>

    <div class="news">
        <div class="title"></div>
        <div class="news-text">
            <p>Tekst aktualności 2</p>
        </div>
    </div>

    <div class="news">
        <div class="title"></div>
        <div class="news-text">
            <p>Tekst aktualności 3</p>
        </div>
    </div>
</div>