@model ArticlesListViewModel


<div id="container">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay-image" style="background-image: url(picturesSlider/picture1.jpg");"></div>
                <div class="container">
                    <h1>Header of article 1</h1>
                    <p>Short description of article</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay-image" style="background-image: url(picturesSlider/picture2.jpg); "></div>
                <div class="container">
                    <h1>Header of article 2</h1>
                    <p>Short description of article</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay-image" style="background-image: url(picturesSlider/picture3.jpg); "></div>
                <div class="container">
                    <h1>Header of article 3</h1>
                    <p>Short description of article</p>
                    
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    @foreach (var v in Model.Articles)
     {
        <div class="news">
            <div class="title">@v.Title</div>
            <div class="news-text">
                <p>@v.Content</p>
                <a asp-controller="Home" asp-action="Article" articleId="@v.Id">Jakis link</a>
            </div>
        </div>
     }

    <div page-model="@Model.PagingInfo" page-action="Index"></div>

</div>