@model ArticlesListViewModel

<div id="container">

    <div id="banner"></div>
    <div id="text">
        <h1>Przewijany obrazek</h1>
    </div>

    @foreach (var v in Model.Articles)
     {
        <div class="news">
            <div class="title">@v.Title</div>
            <div class="news-text">
                <p>@v.Content</p>
            </div>
        </div>
     }

    <div page-model="@Model.PagingInfo" page-action="Index"></div>

</div>